* {
  margin: 0;
  padding: 0;
}

.input {
  margin-bottom: 40px;

  span {
    font-size: 16px;
    color: #000000;
  }

  input {
    outline: none;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  input:invalid {
    animation: shake 300ms;
    color: red;
  }

  @keyframes shake {
    25% { transform: translateX(4px); }
    50% { transform: translateX(-4px); }
    75% { transform: translateX(4px); }
  }
}
