* {
  margin: 0;
  padding: 0;
}

.line {
  max-width: 100%;
  display: flex;
  border-bottom: 1px solid #ffffff;

  p {
    width: 350px;
    height: 55px;
    color: #ffffff;
    padding-top: 17px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #ffffff;
  }

  .options {
    width: 100%;
    display: flex;

    span {
      min-width: 480px;
      height: 55px;
      color: #ffffff;
      padding-top: 17px;
      text-align: center;
      box-sizing: border-box;
      border-right: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
    }
  }
}
