* {
  margin: 0;
  padding: 0;
}

.request {
  max-width: 500px;
  height: 450px;
  border-radius: 15px;
  background-color: #ffd600;
  padding: 5px;
  overflow: auto;

  .req {
    width: 498px;
    max-height: 100%;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-bottom: 5px;
    word-wrap: break-word;
  }
}
