* {
  margin: 0;
  padding: 0;
}

div {
  .cover {
    min-height: 703px;
    background: url("../../../public/res/r8.jpg") no-repeat;
    background-size: cover;
    padding: 100px 0;
    .compare {
      max-width: 80vw;
      height: 500.8px;
      border: 1px solid #ffffff;
      margin: 100px auto;
      background-color: #000000;
      opacity: 0.8;

      .head {
        max-width: 100%;
        display: flex;

        .block {
          width: 350px;
          height: 55px;
          border-radius: 15px 0 0 0;
          box-sizing: border-box;
          border-bottom: 1px solid #ffffff;
        }

        .names {
          width: 100%;
          display: flex;
          box-sizing: border-box;
          border-bottom: 1px solid #ffffff;

          p {
            min-width: 480px;
            height: 55px;
            color: #ffffff;
            padding-top: 17px;
            font-weight: bold;
            font-size: 18px;
            box-sizing: border-box;
            text-align: center;
            border-right: 1px solid #ffffff;
            border-left: 1px solid #ffffff;
          }
        }
      }
    }

    h1 {
      color: #ffffff;

      text-align: center;
    }
  }
}
